/* CSS Document */
/* GENERAL */
a {
	color: #336699;
	font-size: 13px;
}
a:hover {
	text-decoration: none;
}
body {
	background-color: #FFFFCC;
	background-image: url("../image/line_navigation.gif");
	background-position: 0px 65px;
	background-repeat: repeat-x;
	color: #332211;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 0;
	text-align: center;
}
h1 {
	color: #FFFFFF;
	font-size: 22px;
	line-height: 22px;
	margin: 0 0 0 30px;
	padding: 6px 0 0 0;
	text-decoration: none;
}
h2 {
	font-size: 15px;
	font-weight: bold;
	margin: 0;
	padding: 5px 0;
}
img {
	border: 0;
	margin: 10px 0px;
}
p {
	font-size: 13px;
	line-height: 160%;
	margin: 2px 0px 2px 0px;
	padding: 0;
}
ul {
	line-height: 160%;
	list-style-type: disc;
	margin: 3px 10px 7px 0;
	padding-left: 15px;
}
/* LAYOUT IDs AND CLASSES */
#background {
	background-image: url("../image/background.gif");
	margin: 0 auto;
	text-align: left;
	width: 932px;
}
#head {
	background-image: url(../image/logo.gif);
	background-repeat: no-repeat;
	background-position: 20px center;
	height: 65px;
	width: 100%;
}
#logo {
	
	height: 55px;
	width: 300px;
}
#navigation {
	background-image: url("../image/line_navigation.gif");
	height: 35px;
	width: 100%;
}
#navigation-left {
	background-image: url("../image/line_navigation_left.gif");
	float: left;
	height: 35px;
	width: 4px;
}
#navigation-right {
	background-image: url("../image/line_navigation_right.gif");
	float: right;
	height: 35px;
	width: 4px;
}
#section {
	float: left;
}
#search {
	float: right;
	margin: 6px 15px 0 0;
}
#body {
	margin: 15px 19px;
}
#content {
	margin: 0px 220px;
}
#left {
	float: left;
	width: 200px;
}
#right {
	float: right;
	width: 200px;
}
#page {
	background-color: #996633;
	border: 1px solid #332211;
	font-weight: bold;
	height: 18px;
	margin: 10px auto;
	padding: 5px;
	text-align: center;
}
#backward {
	float: left;
}
#forward {
	float: right;
}
#foot {
	border-top: 2px solid #996633;
	clear: both;
	margin: 10px 19px 0px 19px;
	padding: 5px 0 5px 0;
	text-align: center;
	
}
#content .column {
	background-color: #FFFFB2;
	border: 1px solid #FFCC00;
	margin: 15px 0;
	padding: 5px 5px;
}
#left .column, #right .column, .submenu {
	background-color: #99CCE5;
	border: 1px solid #3399CC;
	margin-bottom: 15px;
	padding: 5px 15px;
	width: 170px;
}
.submenu {
	padding: 0;
	width: 200px;
}
#wikiInfo {
	overflow: auto;
	width: 100%
}
/* TAGS IN IDs OR CLASSES*/
#content p {
	text-align: justify;
}
#head img {
	border: 0;
	margin: 5px 0 5px 20px;
}
#links a {
	background-image: none;
	color: #FFFFFF;
	float: left;
	font-weight: bold;
	line-height: 35px;
	padding: 1px 10px 0 10px;
	text-align: center;
	text-decoration: none;
}
#page a {
	color: #FFFFFF;
}
#links a:hover {
	background-image: url("../image/link_arrow.gif");
	background-position: center top;
	background-repeat: no-repeat;
}
#navigation li {
	display: inline;
	margin: 0;
	padding: 0;
}
#navigation ul {
	list-style: none;
	margin: 0 225px;
	padding: 0;
}
#search input[type="text"] {
	width: 130px;
}
#search input[type="submit"] {
	width: 55px;
}
#search p {
	display: inline;
	margin-left: 5px;
	padding: 0;
}
.column h2 a {
	font-size: 18px;
	text-decoration: none;
}
#wikiInfo img {
	margin: 0 0 10px 10px;
}
/* NESTED TAGS */
h1 a {
	color: #FFFFFF;
	font-size: 20px;
	text-decoration: none;
}
h1 a:after {
	content: " \BB \ ";
}
.comment a, .opinion a {
	font-weight: bold;
}
.submenu a {
	color: #332211;
	text-decoration: none;
}
.submenu a:before {
	content: " \BB \ ";
}
.submenu a:hover {
	color: #FFFFFF;
}
.comment div, .opinion div, .tags div {
	margin: 0 10px 10px 0;
}
.opinion img {
	border: 0;
	margin: 0;
}
.comment p, .opinion p, .tags p {
	//margin: 0;
	padding: 0;
}
.submenu li {
	font-weight: bold;
	margin: 0;
	padding: 3px 15px 3px 15px;
}
.submenu li:hover {
	background-color: #3399CC;
}
.submenu ul {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}
/* MODIFIED TAGS */
col.rate {
	text-align: center;
	width: 105px;
}
img.floatImg {
	border: 2px solid #3399CC;
	float: right;
	margin: 2px 0px 2px 5px;
}
.clear {
	clear: right;
}
.comment, .tags {
	background-color: #FFFFB2;
	border: 1px solid #FFCC00;
	margin: 10px 0px 5px 0px;
	padding: 5px 10px 5px 10px;
}
.opinion {
	background-color: #FFFFB2;
	border: 1px dotted #FFCC00;
	margin: 10px 0px 5px 0px;
	padding: 5px 10px 5px 10px;
	/*width: 445px;*/
}
.formatTextInfo {
	background-color: #FFFFB2;
	border: 1px solid #FFCC00;
	margin: 15px 0;
	padding: 5px 5px;
}
.ico {
	border: 2px solid #3399CC;
}
.info {
	padding: 0 0 0 10px;
}
.admin {
	float: right;
	margin: 0 5px 0 0;
}
.date {
	float: right;
}
.systemMessage {
	background-color: #CC0000;
	border: 1px solid #990000;
	color: #FFFFFF;
	padding: 2px;
}
/* FORM */

.check input[type="checkbox"] {
	float: right;
	margin-right: 18px;
	margin-right: 3px;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
.tags fieldset {
	border: 0 !important;
}
#content fieldset {
	border: 1px solid #336699;
	padding: 5px 15px;
}
form {
	margin: 6px 0px 6px 0;
}
form p {
	margin: 0;
	text-indent: 0 !important;
	clear: both;
}
.comment form p, .tags form p {
	display: inline;
}
#content form p {
	margin: 5px 0;
}
#content input[type="text"] {
	width: 210px;
}
.column input[type="text"], .column input[type="password"] {
	width: 110px;
}
.column input[type="submit"] {
	float: right;
	margin: 0 10px 0 0;
}
label {
	margin-bottom: 5px;
}
.column label {
	float: left;
	margin: 2px 0px 2px 0px;
  width: 50px;
}
#content label {
	float: left;
	margin: 0px 5px 5px 0px;
	padding: 0;
  width: 200px;
}
.tags label {
	width: 100px !important;
}
#content input[type="submit"] {
	margin: 0px 0px;
}
#eskymoLabel_rememberMe {
	width: 145px;
}
legend {
	font-size: 15px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 10px 0;
}
#content legend {
	margin: 0 5px 3px 0px;
	padding: 0px 5px;
}
textarea {
	height: 100px;
	margin: 0;
	padding: 0;
	width: 420px;
}
/* TABLE */
caption {
	font-size: 15px;
	font-weight: bold;
	margin: 0;
	padding: 5px 0;
	text-align: left;
}
table {
	border-collapse: collapse;
	font-size: 13px;
	margin: 0px 0px 10px 0px;
	table-layout: fixed;
	width: 448px;
}
table a {
	color: #39210B;
	text-decoration: none;
}
table img {
	border: 0;
	margin: 2px 0;
}
td {
	padding: 1px 5px;
}
thead {
	font-weight: bold;
}
tr {
	height: 20px;
	margin: 0;
	padding: 0;
}
tbody tr, thead tr {
	background-color: #FFFFB2;
}
tbody tr:hover {
	background-color: #FFE57F;
}
thead th {
	background-color: #99CCE5;
	border: 1px solid #3399CC;
	color: #FFFFFF;
}
tbody td {
	border: 1px solid #FFCC00;
}

/* "KEY WORDS" */
.tag0, .tag1, .tag2, .tag3, .tag4, .tag5 {
}
.tag1 {
 font-size: 120%;
}
.tag2 {
 font-size: 140%;
}
.tag3 {
 font-size: 160%;
}
.tag4 {
 font-size: 180%;
}
.tag5 {
 font-size: 200%;
}

