@CHARSET "UTF-8";
.suggest {
    margin-top:20px;
    position: absolute;
    display:block;
    background-color: #FFFFFF;
    border: 1px solid #CCCCFF;
    font-size: 90%;
    width: 175px;
    padding:2px;
}
.suggest div {
    display: block;
    width: 175px;
    overflow: hidden;
    white-space: nowrap;
}
.suggest div.select{ /* keydown, keyup */
    color: #FFFFFF;
    background-color: #3366FF;
}
.suggest div.over{ /* mouse over */
    background-color: #99CCFF;
}
