<div class="item item-compact">
	<div class="info-side">
		<span class="date">{$item->inserted|date}</span>
	</div>
	<div class="info-top">
		{include delete.latte, item => $item}
		<strong class="title">
			{_"The book"} <a href="{plink Book:default,$content[0]}">{$content[1]}{if isSet($content[2]) && !empty($content[2])}: {$content[2]}{/if}</a> {_"has been added."}
		</strong>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>