<div class="item item-compact">
	<div class="info-side">
		<span class="date">{$item->inserted|date}</span>
	</div>
	<div class="info-top">
		{include delete.latte, item => $item}
		<strong class="title">
			{_"User"} <a href="{plink User:default,$item->userId}">{$item->userNick}</a> {_"has registered."}
		</strong>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>