/* CTENARI.CZ */
body {
 text-align: center
}
/* FORM *******************************************************************************/
input {
 width: 150px;
 border: 1px solid #a6b7b7;
}
.submit {
 float: right;
 width: 140px;
}
/* CONTENT ****************************************************************************/
#content {
 width: 65%;
}
/* SEARCH ****************************************************************************/
#search .submit {
 width: auto;
}
#search input, #search select {
 margin-top: none;
}
/* COLUMN ****************************************************************************/
#column div {
 width: 100%;
}
/* TAG LIST **************************************************************************/
#tagList {
 width: 100%;
}
/* BOOK BOX **************************************************************************/
#topBook h3, #newBook h3 {
 margin: -5px -25px 5px -5px;
}
/* USER LIST *************************************************************************/
#userList h3 {
 margin: -5px -25px 5px -5px;
}
/* OPINION LIST *********************************************************************/
#opinionList h3 {
 margin: -5px -25px 5px -5px;
}