/* CTENARI.CZ */
* {
 font: Tahoma, "Geneva CE", lucida, sans-serif;	
 margin: 0;
 padding: 0;
 //border: 1px solid black;
}
/* GENERAL ****************************************************************************/
p {
 margin: 10px 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h7 a {
 text-decoration: none;
}
a {
 color: #801e1e;
 text-decoration: underline;
}
a:focus, a:hover {
 color: white;
 background: #801e1e;
 text-decoration: none;
}
.clear {
 clear: both;
 visibility: hidden;
}
fieldset {
 border: none;
 padding: 5px;
}
label {
 margin-left: 10px;
}
input[type="submit"] {
 float: right;
}
input[type="text"] {
 float: left;
}
/* LAYOUT *****************************************************************************/
/* MENU *******************************************************************************/
#container {
 width: 90%;
 margin: 10px auto;
}
#menu {
 margin: 0 auto;
 text-align: center;
}
#menu ul {
 text-align: center;
}
#menu li {
 display: block;
 width: 150px;
 float: left;
 border: 5px solid black;
 border-bottom: none;	
}
#menu li a {
 padding: 5px;
 text-align: center;
 display: block;
 text-decoration: none;
 font-size: 1.3em;
 background: black;
 color: white;
}
#menu li a:focus, #menu li a:hover {
 background: white;
 color: #801e1e;
}
/* SEARCH *****************************************************************************/
#search {
 clear: both;
 border-top: 5px solid black;
 border-bottom: 5px solid black;
 padding: 5px;
 width: 100%;
 background: #a6b7b7;
}
#search fieldset {
  margin: 0;
  border: 0;
  background: 0;
}
#search fieldset p {
  margin: 7px 0;
}
#search fieldset input[type="text"]{
  float: left;
  width: 70%;
  margin-right: 10px;
  border: none;
}
#search select {
  float: left;
  width: 140px;
  border: none;
}
#search fieldset input[type="submit"] {
  float: right;
}
/* MIDDLE *****************************************************************************/
#middle {
 margin: 10px 0;
 width: 100%;
}
/* CONTENT ****************************************************************************/
#content {
 width: 65%;
 float: left;
}
/* COLUMN ****************************************************************************/
#column {
 float: right;
 width: 30%;
}
#column div {
 border: 5px solid #a6b7b7;
 background: #efefef;
 padding: 5px;
 margin: 0 0 10px 0;
}
#column h3 {
 background: #a6b7b7;
 padding: 0 5px	;
}
/* FOOTER ****************************************************************************/
#footer {
 clear: both;
}
/* TAG LIST **************************************************************************/
#tagList {
 border: 5px solid #a6b7b7;
 background: #efefef;
 padding: 5px; 
}
#tagList a {
 text-decoration: none;
 margin: 0 5px;
}
/* LOGIN *****************************************************************************/
#login a {
 float: left;
}
/* ADD TAG FORM **********************************************************************/
#addTagForm {
 background: #a6b7b7;
 margin: -10px 0 10px 0;
}
#addTagForm p {
 margin: 0;		
}