{extends "layout.latte"}

{block #subcontent}
<h1>{_'404 Page not found'}</h1>
<p>{_'Sorry, however the page you are looking for was not found. Please check that you really came trough link on our site. If this error is permament, please contant us.'}</p>

{widget support,true}
{/block}