{extends "layout.latte"}

{block #subcontent}
<h1>{_'500 Server error'}</h1>
<p>{_'Sorry, our server encoutered an error. Try referesing the page in few minutes, if you see this error permanently, please contant us.'}</p>

{widget support,true}
{/block}