#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
common:
	php:
		date.timezone: Europe/Prague

	services:
		robotLoader:
			run: true
		authenticator: Leganto\DB\User\Authenticator
		authorizator: Leganto\ACL\Authorizator
			
	const:
		APP_DIR: %appDir%
		WWW_DIR: %wwwDir%

	debug:
		enable: true

	mail:
		info: info@ctenari.cz
		name: Leganto team

	facebook:
		enable: truze
		apiKey: 175434332634
		secret: a482d8bd44441006ec1d5613d1b8195c
		
	twitter:
		enable: true
		apiKey: jzH2ermcGbzQ4SaWCj230Q
		secret: LxFR8fM47HDk0s60cnef4EiTMIk2bGY32v5swVwNx4
	cron:
		key: gRpE6hrKEltAo63sOnQA

production < common:
	debug:
		enable: true
	database:
		driver: mysql
		charset: utf8
		lazy: true
		username: leganto_devel
		password: Hublu.mer
		host: zimodej.cz
		database: leganto_devel

development < common:
	debug:
		enable: true

	database:
		driver: mysql
		charset: utf8
		lazy: true
		username: leganto_devel
		password: Hublu.mer
		host: zimodej.cz
		database: leganto_devel
