{snippet editions}
    {if !empty($editions)}
	<script>
	$(function(){
	    //Get our elements for faster access and set overlay width
	    var div = $('#editions');
	    var ul = $('#editions ul');
	    // unordered list's left margin
	    var ulPadding = 15;

	    //Get menu width
	    var divWidth = div.width();

	    //Remove scrollbars
	    div.css({ overflow: 'hidden'});

	    //Find last image container
	    var lastLi = ul.find('li:last-child');

	    //When user move mouse over menu
	    div.mousemove(function(e){

	      //As images are loaded ul width increases,
	      //so we recalculate it each time
	      var ulWidth = lastLi[0].offsetLeft + lastLi.outerWidth() + ulPadding;

	      var left = (e.pageX - div.offset().left) * (ulWidth-divWidth) / divWidth;
	      div.scrollLeft(left);
	    });
	});
	</script>
	<div id="editions">
	    <ul>
		{foreach $editions AS $edition}
		    <li>
			    <?php $clrf = "\n"; ?>
			    <a title="{_"ISBN"}: {$edition->isbn10}{$clrf}{_"ISBN"}: {$edition->isbn13}{$clrf}{_"Pages"}: {$edition->pages}{$clrf}{_"Published"}: {$edition->published}" href="{plink Book:default, $edition->idBookTitle, $edition->getId()}">
			    <img class="icon" src="{$edition->image, 50|thumbnail}" width="50" height="80" />
			</a>
		    </li>
		{/foreach}
	    </ul>
	</div>
	<div class="clear"></div>
    {/if}
    {if !$showWithoutCover}
	{if $hidden}
	    <a href="{link showWithoutCover}" class="ajax" title="{_'Show editions without an image'}">{_'Show editions without an image'}</a>
	{/if}
    {else}
	<a href="{link hideWithoutCover}" class="ajax" title="{_'Hide editions without an image'}">{_'Hide editions without an image'}</a>
    {/if}
{/snippet}