{extends "layout.latte"}

{block #subcontent}
	<h3>{_"Results"}</h3>
	{if isSet($message)}
		<p>{$message}</p>
	{else}
		{widget authorList}
	{/if}
	<p>{_"Haven't you found the author? If you are sure that you didn't make any mistake in spelling please proceed and "}<a href="{plink Author:insert}">{_"insert author"}</a>.</p>
{/block}
