{extends "layout.latte"}

{block #subcontent}
	<h3>{_'Results'}</h3>
	{if isSet($message)}
		<p>{$message}</p>
	{else}
		{widget searchList}
	{/if}
	<p>{_"Haven't you found the book? If you are sure that you didn't make any mistake in spelling please proceed and "}<a href="{plink Book:insert,true}">{_"insert new book"}</a>.</p>
{/block}
