/***************************** DEFAULT ****************************************/
form {
	font: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
form p {
	margin: 0;
	padding: 3px 0;
}
label:after {
	content: ":";
}
label {
	float: left;
	width: 130px;
	text-align: right;
	margin-right: 10px;
	color: #214465;
	font-size: 1.2em;
	line-height: 20px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
fieldset {
	border: 0;
}
legend {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bolder;
	margin: 0 0 0 140px;
	padding: 10px 0;
	color: #336699;
	font-size: 1.5em;
	letter-spacing: 1.3px;
}
input, textarea {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
[type="checkbox"], [type="text"], [type="password"], textarea {
	border: 1px dashed #7A9BBD;
	background-color: white;
	padding: 0 5px;
	line-height: 20px;
	color: #336699;
	font-size: 17px;
}
textarea {
	height: 120px;
}
[type="text"],
[type="password"] {
	height: 20px;
	width: 200px;
}
[type="text"]:focus,
[type="password"]:focus{
	background-image: url(../img/main_input_arrow.gif);
	background-position: 195px;
	background-repeat: no-repeat;
}
[type="checkbox"] {
	height: 20px;
	width: 20px;
	background-image: url(../img/main_signup_radio_hover.gif);
	background-position: center;
	background-repeat: no-repeat;
	color: #224465;
}
[type="submit"] {
	margin: 0 0 0 140px;
	min-width: 60px;
	width: auto !important;
	width: 60px;
}
td input[type="submit"] {
	margin-left: 0px;
}
/***************************** BOOK *******************************************/
#frmbookForm-newAuthor, #frmbookForm-removeAuthor {
	margin-left: 10px !important;
}
/***************************** INTRODUCTION ***********************************/
#introduction-form-wrapper {
	/*height: 277px;*/
	width: 375px;
	float: right;
	margin: 0;
	padding: 0;
}
/***************************** SEARCH *****************************************/
#search {
	width: 380px;
	float: right;
	padding: 25px 0 5px 0;
}
#search fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}
#search legend {
	display: none;
}
#search input[type="submit"] {
	border: 0px;
	height: 23px;
	width: 70px !important;
	background: url(../img/header_input_submit_default.gif);
	margin: 2px 2px;
	padding: 0px 5px;
        position: static;
	text-indent: -10000px;
}
#search input[type="text"] {
        float: left;
	height: 19px;
	width: 280px;
	background: url(../img/header_input_text.gif) no-repeat;
	border: 0px;
	margin: 2px 2px;
	padding: 4px 8px 0px 8px;
	color: #4D341A;
	font-size: 12px;
}
#search input[type="submit"]:focus {
	background: url(../img/header_input_submit_hover.gif);
}
#header #search label {
	color:white;
	float:none;
	font-size:100%;
	line-height:normal;
	margin-left:5px;
	text-align:left;
	width:auto;
	float: left;
	cursor: pointer;
}
#header #search label:after {
	content: "";
}
#header #search input[type="radio"] {
	float: left;
}
#search-options {
	padding-top: 5px;
	font-size: 110%;
}
#selected-search-option {
	font-weight: bold;
	color: #F5D25A !important;
}
#search #frmform-search {
	margin: 0px 2px;
}

ul.error {
    padding: 30px;
    padding-left: 70px;
    font-size: 1.2em;
    margin-bottom: 15px;
    background-position: 1% 50%;
    background-repeat: no-repeat;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    color: #7B0404;
    background-color: #ffeedd;
    background-image: url(../img/ico/flash-error.png);
	list-style: none;
}
.underForm {
	display: block;
	margin-left: 140px;
	margin-top: 10px;
}
.tags {
	width: auto;
}

/***************************** POSTS ******************************************/
#post-form-wrapper label {
	display: none;
}
#post-form-wrapper label:after {
	display: none;
	content: "";
}
#post-form-wrapper textarea {
	width: 100%;
	height: 80px;
}
#post-form-wrapper [type="submit"] {
	float: right;
	margin-top: 5px;
}
.text-rating {
	margin-left: 10px;
}
.button[name=yes],
.button[name=no]{
	margin-left: 0px;
}
.spamAnswer {
	width: 60px !important;
	margin-left: 140px;
}
label[for=frmsignUpForm-captchacode] {
	width: 100%;
	text-align: center;
}