/*********************** GENERAL **********************************************/
.list form {
	margin-bottom: 40px;
}
.list form * {
	margin: 0;
	padding: 0;
}
.list {
	margin: 0 auto;
}
.list .item {
	padding: 0px 10px;
	background: #f6f6f6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #f6f6f6;
	padding: 10px;
	margin-bottom: 10px;
	word-wrap: break-word;
}
.list .item .control {
	float: right;
	text-align: right;
}
.list .item .control a {
	margin-right: 10px;
	background: none !important;
}
.list .list {
	padding-left: 50px;
}
.list .navigation {
	margin: 10px auto;
}
.list .navigation th {
	padding: 0 10px;
}
.list .item .content{
	margin-left: 92px;
	min-height: 60px;
}
.list .info-side {
	float: left;
	margin-right: 10px;
	height: 100%;
}
.list .date {
	display: block;
}
.list .info-top {
	padding-left: 10px;
	vertical-align: middle;
	margin-bottom: 5px;
}
/*********************** EXCEPTIONS *******************************************/
.opinions .icon, .posts .icon, .topics .icon {
	margin: 0;
	margin-bottom: 5px;
}
/*********************** BOOKS ************************************************/
.books .item {
	width: 28.5%;
	float: left;
	margin: 5px;
	line-height: 1.4em;
}
.books .book-title {
	font-weight: bold;
	text-decoration: none;
}
.books .rating {
	display: block;
	margin-top: 5px;
}
.books .item .content {
	min-height: 0;
}
.books .item .info-side {
	margin-right: 5px;
}
.books .item .content {
	margin-left: 70px;
}

/************************** OPINIONS ******************************************/
.opinions .rating {
	margin-right: 10px;
	vertical-align: middle;
}
.opinions .item .content {
	min-height: 60px;
}
.opinions .item .date {
	width: 80px;
	border: 1px solid #f6f6f6;
	text-align: center;
}
.opinions .item .achievement {
	height: 100px;
	float: left;
	margin-right: 5px;
}
/************************** TOPICS ********************************************/
.topics .item {
	width: 46%;
	float: left;
	margin: 5px;
}
.topics .item a {
	width: auto;
}
.topics .item .topic-name {
	font-size: 1.5em;
	text-decoration: none;
}
/************************* USERS **********************************************/
.users .item {
	width: 28%;
	float: left;
	margin: 5px;
	line-height: 1.4em;
}
.users user-name {
	font-weight: bold;
	text-decoration: none;
}
.users .item .info-side {
	margin-right: 5px;
}
.users .item .content {
	margin-left: 70px;
}
.author-item {
	width: 30%;
	float: left;
	margin: 0 1% 20px 1%;
}
.author-item .content {
	margin-left: 70px;
}
.author-item .info {
	margin-left: 70px;
}
.book-list-item {
	width: 30%;
	float: left;
	margin: 0 1% 20px 1%;
}
.book-list-item h2 a {
	color: #F1C11B;
}