/*********************** GENERAL **********************************************/
.list form {
    margin-bottom: 10px;   
}
.list .item {
    padding: 0px 10px;
}
.list .item .control {
    float: right;
	text-align: right;
}
.list .item .control a {
    margin-right: 10px;
}
.list .list {
    padding-left: 50px;
}
.list .navigation {
    margin: 10px auto;
}
.list .navigation th {
    padding: 10px;
}
.list .item .content{
    margin-left: 75px;
}
.list .info-side {
	float: left;
	margin-right: 20px;
	height: 100%;
}
.list .date {
	display: block;
}
.list .info-top {
	padding-left: 10px;
	vertical-align: middle;
}
.list form * {
	margin: 0;
	padding: 0;
}
.list form {
	margin-bottom: 40px;
}
/*********************** EXCEPTIONS *******************************************/
.opinions .item, .posts .item, .topics .item {
	background: #f6f6f6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #f6f6f6;
	padding: 10px;
	margin-bottom: 10px;
}
.opinions .icon, .posts .icon, .topics .icon {
	margin: 0;
	margin-bottom: 5px;
}
/*********************** BOOKS ************************************************/
.books .item {
	width: 31%;
	float: left;
}
/************************** OPINIONS ******************************************/
.opinions .rating {
	margin-right: 10px;
	vertical-align: middle;
}
/************************** TOPICS ********************************************/
.topics .item {
	width: 44.5%;
	float: left;
	margin: 10px;
}
.topics .item a {
	width: auto;
}
.topics .item .topic-name {
	font-size: 1.5em;
	text-decoration: none;
}