#leganto-read-list {
	border: 1px solid #403A33;
	width: 250px;
	background: white;
	font-family: "Trebuchet MS", "Arial", "Helvetica", sans-serif;
	font-size: 12px;
}
#leganto-content a {
	color: #336699;
	font-weight: bold;
	text-decoration: none;
}
#leganto-content a:hover {
	background-color: #f5d25a;
	color: #000000;
	text-decoration: none;
}
.leganto-logo {
	background-color: #433c36;
	background-image: url("http://www.leganto.cz/img/header_bg.jpg");
	font-family: "Trebuchet MS", "Arial", "Helvetica", sans-serif;
	height: 50px;
}
.leganto-logo a {
	display: block;
	color: #f5d25a;
	font-size: 2.5em;
	text-decoration: none;
}
.leganto-logo img {
	float: left;
	margin: 5px;
	border: 0px;
}
.leganto-logo a span.leganto-name {
	margin-top: 7px;
	margin-left: 10px;
	display: block;
	float: left;
}
#leganto-content {
	padding: 5px;
	font-size: 90%;
}
#leganto-content ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin-top: 5px;
}
#leganto-content ul li {
	background: #f6f6f6;
	clear: both;
	display: inline-block;
	margin-bottom: 5px;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	min-height: 55px;
}
#leganto-content ul li img {
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}
#leganto-content ul li span.title {
	float: left;
	width: 170px;
}
#leganto-content ul li span.author {
	display:block;
	margin-top: 5px;
}
#leganto-content ul li span.cover {
	display: block;
	float: left;
	margin-top: 0px;
	width: 60px;
}
#leganto-content ul li span.cover img {
	margin-top: 0px;
}
div.leganto-cleaner {
	height: 1px;
	clear: both;
	overflow: hidden;
}