/*************************** LAYOUT *******************************************/
a {
	color: #336699;
}
a:hover {
	color: #F5D25A;
	background-color: #336699;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
	color: #F5D25A;
	background: none;
}
#main {
	background-color: #cbe7eb;
}
#content {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid white;
	background: white;
}
#footer {
	background: #FDF7CD;
}
.box ul li a {
	color: #865A2C;
	font-weight: bolder;
	text-decoration: none;
	background: none;
}
.box h3 {
	color: white;
	background: #336699;
}
.box li a:hover {
	color: #4C3319;;
}
.box .active {
	background-color: #F5D25A;
}
