{extends "layout.latte"}

{block #subcontent}
    {widget bookView}
	<h2 title="{_"Short keywords describing the book."}">{_'Tags'}</h2>
	{widget tagList}
	{if $user->isLoggedIn()}
		<h2 title="{_"User you follow and has something in common with this book"}">{_"Followed users"}</h2>
		{widget followedUser}
	{/if}
	<h2 title="{_"Opinions written by other users, we tried to serve newest opinions."}">{_'Opinions'}</h2>
	{if $opinionCount == 0}
		<p>{_"There are no text opinions."} <a href="{plink Book:addOpinion,$book->getId()}">{_"Be first!"}</a></p>
	{else}
		<p>{_'These opinions we choosed for faster overview.'}<br />
		{_"There can be more opinions (even non text) than you see. Please visit"} <a href="{plink Book:opinions, $bookId}" title="{_"Opinions on the book"}">{_"Opinions on the book"}</a>.</p>
	{/if}
	{widget opinionList}
	<h2 title="{_"This book in other languages."}">{_'Related books'}</h2>
	{widget relatedBookList}
	<h2 title="{_"Editions of this book with ISBNs and book covers."}">{_'Editions'}</h2>
	{widget editionList}
{/block}