{extends "../@layout.latte"}

{block #content}
	<div id="right">
		{widget submenu}
	</div>
	<div id="left">
		<div id="content">
			{widget flashMessages}
			{block #subcontent}
			{/block}
		</div>
	</div>
{/block}
