{extends "layout.latte"}

{block #subcontent}
	<h1>{_"Contact us"}</h1>
	<p>{_"If you have an idea, problem or are just happy to find this website, don't hesitate to write us mail right now."}</p>
    {widget support}
{/block}