{extends "layout.latte"}

{block #subcontent}
	<h1>{_"Settings"}</h1>
	<p>{_"On this page you can change your profile information and password. Fill password only when you intend to change it or you are changing your e-mail address. All other information is alterable without entering the password."}</p>
	{widget "settingsForm"}
{/block}