<div class="author-list">
{foreach $authors AS $author}
    <div class="author-item">
	<div class="info">
	    <a href="{plink Author:default, $author->getId()}">{$author->fullname}</a>
	</div>
	<div class="content">
		    
	</div>
    </div>
    {if $iterator->getCounter() % 3 == 0}<hr style="clear:both; visibility:hidden" />{/if}
    {/foreach}
</div>
<hr style="clear:both; visibility:hidden" />
{widget paginator}