/** Content styling **/
h1,h2,h3,h4,h5,h6 {
	color: #c30013;
	margin-bottom: 10px;
}
h1 {
	font-size: 2.3em;
}
h2 {
	font-size: 1.5em;
	margin-bottom: 10px;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.3em;
}
a {
	color: #c30013;
}
a:hover {
	color: white;
	background: #c30013;
	text-decoration: none;
	
}
p {
	margin-bottom: 10px;
}
li,ol {
	margin-left: 15px;
}
table {
	font-size: 100%;
    width: 100%;
	border-collapse:collapse;
}
th {
	font-weight: bold;
	color: white;
	background: #c30013;
}
th, td {
	border: 1px solid #c30013;
	padding: 3px;
}
th a {
    color: white;
    text-decoration: none;
}
tr.odd td {
	background: #fdf2da;
}
form {
	margin-top: 10px;
	margin-bottom: 10px;
}
fieldset {
	border: 1px solid #c30013;
	padding: 10px;
}
legend {
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
}
label {
	display: block;
	float: left;
	width: 200px;
	text-align: right;
	margin-right: 10px;
}
form p {
	clear: both;
}
input {
	border: 1px solid #afad9f;
	padding: 2px;
}
input:focus {
	border: 1px solid #c30013;
}
input.button {
	background: #c30013;
	color: white;
	border: 1px solid #c30013;
	padding: 0px;
}
/** Positioning **/
body {
	background: #fdf2da;
	background-position: center;
	text-align: center;
	font-size: 85%;
	font-family: Sans, Arial;
	color: #0e0838;
}
#playground {
	text-align: center;
	width: 1000px;
	margin: auto;
}
#header,
#footer,
#body {
	width: 980px;
	margin: auto;
	text-align: left;	
}
#header_background {
	background: url('../images/admin/header.png') repeat-x;
	background-position: bottom;
}
#header {
	height: 90px;
	line-height: 75px;
	background-position: bottom;
	color: #fada88;
	font-size: 2em;
}
#header h1 {
	float: left;
	font-size: 100%;
	margin-right: 10px;
}
#header #heading {
	float: left;
}
#header #user {
	float: right;
	font-size: 10px;
	color: #0e0838;
	text-align: right;
	line-height: 12px;
	margin-top: 25px;
}
#header a {
	color: #afad9f;
	text-decoration: none;
}
#header a:hover {
	color: white;
}
#header #user a {
	color: #c30013;
}
#header #user a:hover {
	color: white;
	background: #c30013;
}
#background {
	width: 1000px;
	margin: auto;
	background: url('../images/admin/bg.png');
}
#body {
}
#content {
	margin-left: 10px;
	margin-right: 15px;
}
#modules {
	width: 154px;
	float: left;
}
ul.menu li {
	margin: 0px;
}
ul.menu li a {
	display: inline-block;
	padding: 1px;
	padding-left: 1px;
	margin-bottom: 2px;
	text-decoration: none;
}
ul.menu li a {
	display: block;
}
ul.menu li a.selected {
	background: #c30013 url('../images/admin/arrow.png') no-repeat;
	background-position: right;
	color: white;
	text-decoration: none;
}
#settings {
	width: 164px;
	margin-left:1px;
	float: left;
}
#options {
	display: block;
	float: left;
	margin-left: 1px;
	width: 620px;
}
#footer_background {
	height: 25px;
	background: url('../images/admin/footer.png') repeat-x;
	background-position: top;
	clear: both;
}
#footer {
	font-size: 85%;
	margin-top: -5px;
	color: #afad9f;
}
#copyright {
	float: left;
	margin-left: 5px;
}
#time {
	float: right;
	margin-right: 5px;
}
hr.cleaner {
	clear:both;
	height:1px;
	margin: -1px 0 0 0; padding:0;
	border:none;
	visibility: hidden;
}
.inside {
	padding: 15px;
}
