form#loginForm * {
	margin: 0;
	padding: 0;
}
form#loginForm label {
	text-align: left;
	font-size: 100%;
}
form#loginForm input[type="text"], form#loginForm input[type="password"] {
	width: 100px;
}
