div.error, div.success, ul.error li, div.notice, div.success, div.info, div.help {
	margin: 0;
	padding: 22px 10px 22px 100px;
	display: block;
	background-repeat: no-repeat;
	background-position: 5px 5px;
	border-style: solid;
	border-witdh: 2px;
	font-size: 120%;
}

div.error, ul.error li {
	background-color: #ffcccc;
	background-image: url('./../images/icons/48/118.png');
	border-color: #C11C1C;;
}

div.notice {
	background-image: url('./../images/icons/48/25.png');
	background-color: #fffbc7;
	border-color: #ff8e00;
}
div.success {
	background-image: url('./../images/icons/48/112.png');
	background-color: #dbf3df;
	border-color: #098017;
}
div.info {
	background-image: url('./../images/icons/48/65.png');
	background-color: #eef8fc;
	border-color: #009bd9;
}
div.help {
	background-image: url('./../images/icons/48/65.png');
	background-color: #eef8fc;
	border-color: #009bd9;
}