{extends "../@layout.latte"}

{block #content}
    <div id="right">
		{if !empty($author)}
			{widget submenu}
		{/if}
    </div>
    <div id="left">
		<div id="content">
			{widget flashMessages}
			{block #subcontent}
			{/block}
		</div>
    </div>
{/block}