{!$form->render('begin')}
    <fieldset>
	<legend></legend>
	{!$form['query']->control}
	{!$form['search_submit']->control}
	<div id="search-options" title="{_'Choose in which content you want to search.'}">
		{!$form["search"]->control}
		&nbsp;
	</div>
    </fieldset>
{!$form->render('end')}